@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --best-green: #00ff88;

    --button-blue: #00f;
    --button-blue-hover: #3d3dff;
}

* {
    color: white;
    font-family: Montserrat;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: black;
}

#tabs {
    position: absolute;
    width: 100%;
    display: flex;
    top: 50px;
    height: calc(100% - 50px);
    transition: 200ms ease-in-out;
}

#tabs > div {
    padding: 15px;
    min-width: calc(100% - 30px);
    height: calc(100% - 30px);
}

.fadeIn {
    opacity: 1;
}
.fadeOut {
    opacity: 0;
}