#topbar {
    position: absolute;
    padding: 0 15px;
    width: calc(100% - 30px);
    height: 50px;
    display:  flex;
    align-items: center;
}

#topbar .tabs {
    margin-left: 30px;
    height: 100%;
    display: flex;
}

#topbar .tabs > button {
    margin: 0;
    background-color: transparent;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    font-weight: 400;
    font-size: 20px;
    padding: 0 20px;
    cursor: pointer;
    transition: 250ms;
}

#topbar .tabs > button:hover {
    border-bottom: 1px solid rgb(151, 151, 151);
}

#topbar .tabs > button.active {
    font-weight: 500;
    background-image: linear-gradient(
        to top,
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0)
    );
    border-bottom: 1px solid white;
}

#topbar .data{
    margin: 0 30px;
}

#topbar .user {
    margin: 0 30px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--button-blue);
    transition: 250ms;
}

#topbar .user:hover {
    background-color: var(--button-blue-hover);
}

#moneyDisplay {
    position: absolute;
    right: 15px;
    color: var(--best-green);
}